@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --black: #222222;
    --white: #FFFFFF;
    --blue: #65DAFF;
    --green: #70FFCB;

    --background-color: var(--black);
    --font-color: var(--white);

    --header-size: 75px;

    --padding: 20px;

    --index: 1dvw + 1dvh;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

body {
    background-color: var(--black);
}

header.header,
main.main,
footer.footer {
    padding-inline: var(--padding);
}

main.main {
    padding-top: var(--header-size);
    overflow: hidden;
}

h1 {
    font-size: calc(4.65 * var(--index));
}

h2 {
    font-size: calc(3 * var(--index));
    font-weight: 400;
}

ul {
    list-style-type: none;
}

a {
    color: unset;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin-inline: auto;
}

header.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--padding);

    width: 100%;
    height: var(--header-size);

    background-color: var(--background-color);
    color: var(--font-color);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: calc(var(--padding) / 2);
}

.menu__list {
    display: flex;
    align-items: center;
    column-gap: var(--padding);
}

.hero {
    width: 100%;
    height: 90dvh;

    position: relative;

    &>* {
        width: 100%;
        height: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        width: min(50%, 1000px);

        h1,
        h2 {
            text-shadow: 0 0 5px var(--white);
        }

        h2 {
            opacity: .7;
        }

        a {
            width: fit-content;

            padding: var(--padding) calc(3 * var(--padding));

            background: linear-gradient(45deg, var(--blue), var(--green));
            color: var(--white);
        }
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        img {
            width: calc(100% + 2 * var(--padding));
            height: 100%;

            object-fit: cover;
            object-position: right;

            transform: translateX(calc(-1 * var(--padding)));
        }
    }
}

.info {
    background-color: var(--black);

    width: 100%;
    height: 100%;
    padding-block: 100px;

    position: relative;

    .container {
        display: flex;
        justify-content: space-between;
        gap: var(--padding);
    }

    .information {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: var(--padding);

        width: 18%;

        text-align: center;
        
        p {
            background: linear-gradient(45deg, var(--blue), var(--green));
            background-clip: text;
            color: transparent;
            font-size: 1.8rem;
        }

        img {
            width: 85%;
        }
    }


}